{% extends 'layout.html' %}

{% block title %} Profile {% endblock %}

{% block side_nav %}{% include 'side_nav.html' %}{% endblock %}

{% block style %}
<style>
    .mb-4 {
        color: white;
    }
</style>
{% endblock %}

{% block content %}
<h1 class="mb-4">Events</h1>

<div class="create-event">
    <a class="btn btn-outline-danger" href="{% url 'add-event' %}">Create Event</a>
    <a class="btn btn-outline-success" href="{% url 'add-reward' %}">Add Reward</a>
</div>
<br>

{% for i in event %}
<div class="card">
    <div class="card-body">
        <h4>{{i.name}}</h4>
        <p>{{i.description}}</p>
        <p>{{i.point_reward}}</p>
    </div>
</div>
{% empty %}
<div class="card">
    <div class="card-body">
        Don't have events in this time!
    </div>
</div>
{% endfor %}
{% endblock %}